<link rel="stylesheet" href="./hero-carousel-type.scss">
<script src="./HeroCarouselType.ts"></script>

<section data-component="hero-carousel-type">
  <ul class="hero-carousel-list js-hero-carousel">
    {{#each slides}}
      <li class="hero-carousel-item js-hero-carousel-item" style="background-image: url('{{background-image}}')">

      </li>
    {{/each}}
  </ul>

  {{!-- {{> element/arrow-button className="previous js-previous" }} --}}
  {{!-- {{> element/arrow-button className="next js-next" }} --}}

{{#if show-bullets}}
  <ul class="navigation-bullets js-bullets light"></ul>
{{/if}}
</section>
