<link rel="stylesheet" href="./hero.scss">
<script src="./Hero.ts"></script>

<section data-component="hero" style="background-image: url('{{background-image}}')">
    <h1 class="hero-title">{{title}}</h1>
</section>
