<link rel="stylesheet" href="./hero-carousel.scss">
<script src="./HeroCarousel.ts"></script>

<section data-component="hero-carousel">
    {{> element/hero-carousel-type slides=slides show-bullets=true}}
</section>
