@import '~normalize.css';
@import '~seng-scss';

/* Globally available project specific mixins, functions and variables */
@import 'global';

@import 'type/font';

// Generic stuff

html {
  box-sizing: border-box;
  font-family: $fontRobotoCondensed;
  font-size: 10px;
  background-image: url('~app/image/bg-pattern.jpg');
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
